@import "tailwindcss";

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.moving-dark-gradient {
  background: linear-gradient(-45deg, #090a0f, #14171f, #0d0e12, #1b1e26, #090a0f);
  background-size: 300% 300%;
  animation: gradient-shift 12s ease infinite;
}

.dotted-halftone-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.08) 1.5px, transparent 1.5px);
  background-size: 14px 14px;
}
